<div class="posts">
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">
                {% if post.image %}
                <span class="preview image"><img src="{{ post.image }}" alt=""></span>
                {% endif %}
                <h3>{{ post.title }}</h3>
            </a>
        </li>
        {% endfor %}

        <!-- pagination links -->
        {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path }}">
                Neuere
            </a>
        </li>
        {% endif %}

        {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path }}">
                Ältere
            </a>
        </li>
        {% endif %}
    </ul>
</div>