<meta name="theme-color"
      content="#6a994e"
      media="(prefers-color-scheme: dark)">
<meta name="theme-color"
      content="#a7c957"
      media="(prefers-color-scheme: light)">

<link rel="stylesheet"
      type="css"
      href="{{ '/assets/css/color-scheme.css?v=' | append: site.github.build_revision | relative_url }}">

<link rel="stylesheet"
      type="css"
      media="(prefers-color-scheme: dark)"
      href="{{ '/assets/css/gruvbox.dark.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet"
      type="css"
      media="(prefers-color-scheme: light)"
      href="{{ '/assets/css/gruvbox.dark.css?v=' | append: site.github.build_revision | relative_url }}">

<link rel="stylesheet"
      type="text/css"
      href="{{ '/assets/css/fonts.css?v=' | append: site.github.build_revision | relative_url }}">
