/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
 html{box-sizing:border-box;-webkit-text-size-adjust:100%;word-break:normal;-moz-tab-size:4;tab-size:4}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}hr{overflow:visible;height:0}details,main{display:block}summary{display:list-item}small{font-size:80%}[hidden]{display:none}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}a{background-color:transparent}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}pre{font-size:1em}b,strong{font-weight:bolder}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[disabled]{cursor:default}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}button,select{text-transform:none}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer;color:inherit}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,input,select,textarea{background-color:transparent;border-style:none}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;white-space:normal;max-width:100%}::-webkit-file-upload-button{-webkit-appearance:button;color:inherit;font:inherit}img{border-style:none}progress{vertical-align:baseline}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}

 /* the basic stuff */
:root {
    font-size: 125%;
    --spot-color: #0288d1;
    --text-color: #424242;
    --fill-color: #ffffff;
    --alt-fill-color: #f1f1f1;
    --column-width: 36rem;
    --margin-width: 1rem;
    --marked-width: 42rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --spot-color: #0270ac;
        --text-color: #ffffff;
        --fill-color: #212121;
        --alt-fill-color: #1c1c1c;
    }
}

[data-theme='lite'] {
    --text-color: #424242;
    --fill-color: #ffffff;
    --alt-fill-color: #f1f1f1;
}

[data-theme='dark'] {
    --spot-color: #0270ac;
    --text-color: #ffffff;
    --fill-color: #212121;
    --alt-fill-color: #1c1c1c;
}

main>* {
    margin-top: 1em;
}

main>h2,
main>h3 {
    margin-top: 1.5em;
}

a,
a:visited,
a:hover {
    color: var(--spot-color);
    text-decoration: none;
    word-break: break-word;
    hyphens: auto;
    cursor: pointer;
}

small {
    font-size: 83.4%;
}

main,
footer {
    display: grid;
    margin: 0 auto;
    grid-template-columns:
        minmax(var(--margin-width), 1fr) minmax(auto, var(--column-width)) minmax(var(--margin-width), 1fr);
}

main>*,
footer>* {
    grid-column: 2;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* for increased readability */
main>p,
main>ul>li {
    line-height: calc(1ex / 0.32);
}
main>ul {
    padding-left: 1em;
}

/* pretty pictures */
img {
    width: 100%;
}

figcaption {
    display: inline-block;
    width: calc(100% - 2ch);
    font-size: 83.4%;
    text-align: center;
    padding: 1ex 1ch;
}

/* code */
pre,
code {
    padding: 0;
    margin: 0;
    font-family: monospace, monospace;
    font-size: 83.4%;
}

pre {
    color: var(--text-color);
    background-color: var(--alt-fill-color);
    overflow-x: auto;
}

/* tables */
table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    margin: 0 auto;
    min-width: 100%;
    width: 100%;
    page-break-inside: auto;
}

@media only screen and (max-width: 640px) {
    table {
        display: block;
    }
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

th,
td {
    text-align: left;
    vertical-align: top;
    padding: 1ex 1ch;
    font-size: 83.4%
}

tr:nth-child(odd) {
    background: var(--fill-color);
}

th {
    background: var(--spot-color);
    color: var(--fill-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    background: var(--fill-color);
}

div>svg {
    width: 100%;
    padding: 0;
}

header {
    display: block;
    width: 100%;
    height: 85vh;
    margin: 0;
    overflow: hidden;
    color: var(--fill-color);
    background: linear-gradient(160deg, #0277bd 33%, #26a69a 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
}

main>img,
main>figure,
main>div,
ul.about {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    max-width: var(--marked-width);
}

header>picture>img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

/* image gallery */
main>figure,
main>div {
    display: block;
    list-style: none;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: var(--alt-fill-color);
}

figure.gallery,
div.gallery {
    white-space: nowrap;
}

main>div>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure>figure,
div>div,
div>ul>li {
    display: inline-block;
    width: min-content;
    vertical-align: top;
    overflow: hidden;
    margin: 0;
    padding: 2ch 0 2ch 2ch;
    white-space: normal;
}

figure>figure:last-child,
div>div:last-child,
div>ul>li:last-child {
    padding-right: 2ch;
}

figure>figure>img,
figure>figure>span,
div>div>img,
div>ul>li span.preview {
    display: inline-block;
    width: auto;
    height: 50vmin;
}

figcaption a,
figcaption a:hover,
figcaption a:visited {
    color: var(--text-color);
    text-decoration: underline;
}

figure>figure>span {
    width: 80vmin;
}

div.posts>ul>li span.image>img {
    display: block;
    width: 80vmin;
    height: 50vmin;
    object-position: 50% 50%;
    object-fit: cover
}

h1,
h2,
h3 {
    line-height: 100%;
    font-weight: 300;
}

h1,
h2,
h3 {
    margin: 1em 0 1rem 0;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

a>h3 {
    margin: 0;
}

main p:not(.meta),
main>ul {
    font-family: "Merriweather", serif;
}

div>ul>li>a,
div>ul>li>a:hover,
div>ul>li>a:visited {
    color: var(--text-color);
}

ul.follow {
    list-style: none;
    margin: 0;
    padding: .5rem 0;
}

ul.follow li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: .2rem;
    margin: .2rem .15rem;
    border-radius: 33%;
    background: var(--alt-fill-color);
    cursor: pointer;
}

ul.follow li a {
    display: block;
}

ul.follow svg {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
}

ul.follow svg g {
    fill: var(--text-color);
}

ul.follow svg g#Codepen path {
    stroke: var(--text-color);
}

label.themeSwitch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

input#DarkModeSwitch {
    display: none;
}

input#DarkModeSwitch+span {
    display: inline-block;
    vertical-align: bottom;
    background-color: var(--fill-color);
    height: 1.4em;
    width: 2.4em;
    padding: .2em;
    border-radius: 2em;
    cursor: pointer;
}

input#DarkModeSwitch+span::before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 2em;
    background-color: var(--spot-color);
    transition: margin-left .3s;
}

input#DarkModeSwitch:checked+span::before {
    content: '';
    margin-left: 1em;
}

header>a.button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    background: var(--fill-color);
    border-radius: 1.25rem;
    cursor: pointer;
}
div.return_to_top {
    z-index: 10;
    position: sticky;
    bottom: 1rem;
}
div.return_to_top>a.button {
    display: block;
    margin: 1rem 1rem 1rem auto;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    background: var(--fill-color);
    border-radius: 1.25rem;
    cursor: pointer;
}

a.button>svg {
    stroke: var(--spot-color);
}

/* about box */
ul.about {
    list-style: none;
    background: var(--alt-fill-color);
    padding: 1em;
    margin-top: 2rem;
}

ul.about>li {
    font-size: 90%;
    line-height: 150%;
    font-family: "Open Sans", sans-serif;
}

ul.about>li:nth-child(1) {
    width: 5ch;
    height: 5ch;
    margin: 0 1ch 0 0;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}

/* Disable Pocket extension on macOS Safari */
#pocket-extension-root {
    display: none;
}
