:root {
  --spot-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --flow-font: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --code-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	/*
	--code-font: 'FiraCode';
	--flow-font: 'Merriweather';
	--spot-font: 'Open Sans';
	*/
	--outer-width: 56rem;
	--inner-width: 48rem;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a,
a:hover,
a:active,
a:visited {
	color: var(--link-color);
    word-break: break-word;
	text-decoration: none;
}

article {
	max-width: 40em;
	max-width: var(--outer-width);
	margin: 1rem auto 0 auto;
	font-family: var(--flow-font, serif);
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(auto, var(--inner-width)) minmax(1rem, 1fr);
}

article>*,
footer>* {
	margin-top: 1rem;
	grid-column: 2;
}

article ol,
article ul {
	margin-left: 2em;
	margin-bottom: 0.75em;
}
article ul {
  list-style-type: disc;
}
article ul>li,
article ol>li {
	margin-top: .5em;
}

body {
	font-size: clamp(1.2rem, 4vw, 1.5rem);
	color: var(--text-color);
	background-color: var(--back-color);
	overflow-x: hidden;
}

blockquote {
  padding: 1rem 2rem;
}

code {
	font-size: 0.85em;
	font-family: var(--code-font, monospace, monospace);
}

p code,
ul code {
  overflow-wrap: anywhere;
  font-size: 90%;
}

dt {
	margin-top: 1rem;
}
dd {
	padding-left: 1em;
}
dd+dd {
		text-indent: 1em;
}

figure,
div[class^='language-'] {
    margin-top: 2rem;
	grid-column: 1 / 4;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--fill-color);
}

figure>figure {
	display: inline-block;
	vertical-align: top;
	width: min-content;
}

figure>figure:not(:last-child) {
	margin-right: 1rem;
}
figure>span {
    display: block;
    width: 100%;
}
figure>figure>span {
    display: block;
    aspect-ratio: 4 / 3;
}

figure>figure>img {
	width: auto;
	height: 50vmin;
}

figure.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  overflow: hidden;
}

figure.grid>img {
  width: 100%;
}

figcaption {
	display: block;
	margin: 0.5rem auto;
	padding-bottom: 0.5rem;
	max-width: var(--inner-width);
	font-family: var(--spot-font, sans-serif);
	font-size: 0.85em;
	text-align: center;
	white-space: normal;
}

footer {
	margin-top: 2rem;
	padding-bottom: 2rem;
	font-size: 85%;
    font-family: var(--spot-font, sans-serif);
}

h1,
h2,
h3 {
	font-family: var(--spot-font, sans-serif);
	margin-top: 2em;
}

h2 {
	font-size: 120%;
	margin-top: 2em;
}

h2+h3 {
  margin-top: 0;
}

header {
	position: relative;
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 80vh;
	overflow: hidden;
	clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);

}

header>h1 {
	display: block;
	max-width: var(--outer-width);
	font-size: 180%;
	line-height: 140%;
	text-align: center;
	text-wrap: balance;
	padding: 1em 1rem;
	margin: 10vh auto 0 auto;
	color: var(--fore-color);
	background-color: var(--spot-color-transparent);
	clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);
  }
  

header>picture {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

}

header>picture>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

img {
  width: 100%;
  max-width: 100vw;
}

nav {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(auto, var(--inner-width)) minmax(1rem, 1fr);	height: 3rem;
}

nav a,
nav a:active,
nav a:visited {
	line-height: 3rem;
	color: var(--text-color);
	text-decoration: none;
	font-family: var(--spot-font, sans-serif);
}

nav>ul {
	display: flex;
	margin: 0;
	grid-column: 2;
}
nav>ul>li:not(:last-child) {
	padding-right: 1em;
}

p {
	line-height: calc(1ex / 0.32)
}

p.meta {
    font-family: var(--spot-text);
    font-size: 85%;
}

pre {
	width: 100%;
	overflow-x: auto;
	--background-color: var(--fill-color);
	padding: 1em;
}

div.highlight {
	/*
	--close-button: #505050;
	--minimize-button: #505050;
	--zoom-button: #505050;
	--window-background: #f0f0f0;
	*/
	position: relative;
	border-radius: 0.5rem;
	overflow-y: hidden;
	background-color: var(--fill-color);
}
/*
div.highlight:hover {
	--close-button: #FF605C;
	--minimize-button: #FFBD44;
	--zoom-button: #00CA4E;
}

div.highlight:before {
	content: "";
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
	background: radial-gradient(ellipse at center, var(--close-button) 0.3rem, transparent 0.3rem) -1rem -1rem,radial-gradient(ellipse at center, var(--minimize-button) 0.3rem, transparent 0.3rem) 0rem -1rem,radial-gradient(ellipse at center, var(--zoom-button) 0.3rem, transparent 0.3rem) 1rem -1rem
}
*/

svg {
	display: block;
	width: 100%;
	padding: 0;
}

table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	overflow-x: auto;
	margin-left: auto;
	margin-right: auto;
    min-width: var(--outer-width);
	width: 100%;
	page-break-inside: auto;

}

@media only screen and (max-width: 320px) {
	table {
		display: block;
	}
}

tr {
	page-break-inside: avoid;
	page-break-after: auto;
}

th,
td {
	text-align: left;
	vertical-align: top;
	padding: 1ex 1ch;
	font-size: 85%;
	font-family: var(--spot-font, sans-serif);
}

tr:nth-child(odd) {
	background: var(--fill-color);
}

th {
	background: var(--spot-color);
	color: var(--text-color);
}

/* Disable Pocket extension on macOS Safari */
#pocket-extension-root {
    display: none;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* follow */
ul.follow {
    list-style: none;
    margin: 2.25rem 0;
    padding: 0;
}

ul.follow>li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: 0;
    margin: 0.75rem .5rem 0 0;
    border-radius: 20%;
    background: var(--text-color);
    cursor: pointer;
}

ul.follow>li:last-child {
    margin-right: 0;
}

ul.follow li a {
    display: block;
}

ul.follow svg {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
}

ul.follow svg g {
    fill: var(--back-color);
}

ul.follow svg g#Codepen path {
    stroke: var(--back-color);
}

/* about box */
ul.about {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

ul.about>li {
    line-height: 150%;
    margin: 0;
    font-family: var(--spot-font, sans-serif);
}

ul.about>li:nth-child(1) {
    width: 5ch;
    height: 5ch;
    margin: 0 1ch 0 0;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}
