/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a,
a:hover,
a:active,
a:visited {
	color: var(--link-color);
}

body {
	font-size: clamp(1.2rem, 4vw, 1.5rem);
	color: var(--text-color);
	background-color: var(--back-color);
}

footer {
	margin-top: 2rem;
  margin-bottom: 2rem;
	padding-bottom: 2rem;
	font-size: 85%;
  font-family: var(--spot-font, sans-serif);
}

footer>* {
	grid-column: 2;
}

h1,
h2,
h3 {
	font-family: var(--spot-font, sans-serif);
}

h1 {
	font-size: 180%;
	align-self: center;
	text-align: center;
	padding: 0 1rem;
}

h2 {
	font-size: 120%;
}

h3 {
  font-size: 120%;
}

img {
  width: 100%;
}

main.posts {
	padding: 0 1rem;
  font-family: var(--flow-font, serif);
}

main.posts>ul {
  /*
	margin-top: -1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
  */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  overflow: hidden;
}

main.posts>ul>li {
  display: block;
	/*
  margin-top: 1rem;
	padding-right: 1rem;
  */
}

main.posts h3,
main.posts p {
	margin-top: 1rem;
}

main.posts>ul>li>a>span {
	display: block;
	aspect-ratio: 4 / 3;
	width: 100%;
}

main.posts>ul>li>a>span>img {
	aspect-ratio: 4 / 3;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%
}

main.posts>ul>li>a {
	color: var(--text-color);
	text-decoration: none;
}

nav,
footer {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(auto, var(--inner-width)) minmax(1rem, 1fr);	height: 3rem;
}

nav a,
nav a:active,
nav a:visited {
	line-height: 3rem;
	color: var(--text-color);
	text-decoration: none;
	font-family: var(--spot-font, sans-serif);
}

nav>ul {
	display: flex;
	margin: 0;
	grid-column: 2;
}
nav>ul>li:not(:last-child) {
	padding-right: 1em;
}

p {
	line-height: calc(1ex / 0.32)
}

svg {
	display: block;
	width: 100%;
	padding: 0;
}

/*
@media all and (min-width: 80ch) {
	main.posts>ul>li {
			width: calc(50% - 0.5rem);
	}
}

@media all and (min-width: 140ch) {
	main.posts>ul>li {
			width: calc(33% - 0.33rem);
	}
}
*/

/* Disable Pocket extension on macOS Safari */
#pocket-extension-root {
    display: none;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* */
/* follow */
ul.follow {
    list-style: none;
    margin: 2.25rem 0 0 0;
    padding: 0;
}

ul.follow>li:not(:last-child) {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: 0;
    margin: 0 .5rem 0 0;
    border-radius: 20%;
    background: var(--text-color);
    cursor: pointer;
}

ul.follow>li {
    margin-top: 0.75rem !important;
}

ul.follow li a {
    display: block;
}

ul.follow svg {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
}

ul.follow svg g {
    fill: var(--back-color);
}

ul.follow svg g#Codepen path {
    stroke: var(--back-color);
}

