:root {
	--spot-color: #974E97;
	--link-color: #C856C8;
	--text-color: #EDE6DE;
	--back-color: #353135;
	--fill-color: #272527;
	--ripples-effect: rgba(255, 255, 255, 0.2);	

	--code-font: 'FiraCode';
	--flow-font: 'Merriweather';
	--spot-font: 'Open Sans';
	--inner-width: 36em;
	--outer-width: 40em;
}

/*
	--spot-color: #6a994e;
	--link-color: #a7c957;
	--text-color: #f2e8cf;
	--back-color: #323438;
	--fill-color: #222428;
*/