:root {
	--spot-font: 'Avenir Next', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--text-font: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--code-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--deco-font: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	font-weight: normal;
	--outer-width: 72rem;
	--inner-width: 56rem;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img,
video {
	height: auto;
	max-width: 100%
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

/* minireset end*/

body {
	font-size: clamp(1.1rem, 2vw, 1.4rem);
	color: var(--text-color);
	background-color: var(--page-color);
	overflow-x: hidden;
}

a,
a:hover,
a:active,
a:visited {
	color: var(--link-color);
	word-break: break-word;
	text-decoration: none;
}

strong {
	font-weight: 800;
}

h2,
h3,
li span,
footer p {
	font-family: var(--spot-font);
	font-weight: normal;
}

h1 {
	margin-top: 1em;
	font-size: 1.8em;
	font-weight: 200;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-weight: 800;
}

header h1,
header h3,
header p {
	text-align: center;
}

header p,
h2+p {
	margin-top: 1em;
}

article,
header div {
	max-width: 36em;
	margin: 0 auto;
	padding: 2em 1rem;
	line-height: 1.6em;
}

ul+h2 {
	margin-top: 2em;
}

header {
	padding-top: 2rem;
	background: var(--fill-color);
	color: var(--text-color);
	overflow: hidden;
	clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);
}

ul.skills {
	list-style-type: disc;
	padding-top: 1em;
	padding-left: 1em;
}

ul.position li:not(first-child) {
	margin-top: 1em;
}

li span {
	text-transform: uppercase;
}
li span,
footer p {
	font-size: 80%;
}

picture {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	border: 0.2em solid transparent;
	box-shadow: 0 0 0 0.125em white;
}

svg {
	display: block;
	width: 100%;
	padding: 0;
}

hr {
	border: 0;
	height: 0.05em;
	background-color: var(--text-color);
	margin: 2em 0;
}

/* Disable Pocket extension on macOS Safari */
#pocket-extension-root {
	display: none;
}

/* follow */
ul.follow {
	list-style: none;
	margin: 2.25rem 0;
	padding: 0;
	text-align: center;
}

ul.follow>li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding: 0;
	margin: 0.75rem .5rem 0 0;
	border-radius: 20%;
	background: var(--link-color);
	cursor: pointer;
}

ul.follow>li:last-child {
	margin-right: 0;
}

ul.follow li a {
	display: block;
}

ul.follow svg {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: top;
}

ul.follow svg g {
	fill: var(--fill-color);
}

ul.follow svg g#Codepen path {
	stroke: var(--fill-color);
}

/* about box */
ul.about {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

ul.about>li {
	line-height: 150%;
	margin: 0;
	font-family: var(--spot-font, sans-serif);
}

ul.about>li:nth-child(1) {
	width: 5ch;
	height: 5ch;
	margin: 0 1ch 0 0;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ffffff;
	border: 0.1rem solid var(--fill-color);
	/*
	outline: 0.125rem solid var(--link-color);
	outline-offset: 0.1rem;
	*/
	outline-color: transparent;
	box-shadow: 0 0 0 0.125em var(--link-color);
}