:root {
    --background-color: #f7f7f7;
    --text-color: #424242;
    --accent-color: steelblue;
}

body {
    margin: 0;
    padding: 0;
    font: 112% "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    margin: 0;
    overflow: hidden;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
    background: var(--accent-color);
    background: linear-gradient(160deg, #0277bd 25%, #26a69a 75%);
    color: #f1f1f1;
    text-align: center;
}

.background-animation {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: -25%;
    width: 100%;
    z-index: -1;
}

article,
footer {
    max-width: 60ch;
    margin: 0 auto;
    padding: 0.5ch 2ch;
}

header,
article {
    width: 100%;
}

@media all and (min-width: 120ch) {}
