/* the basic stuff */
:root {
    font-size: 125%;
    --spot-color: #0288d1;
    --dark-color: #424242;
    --lite-color: #ffffff;
    --alt-lite-color: #f1f1f1;
    --column-width: 36rem;
    --margin-width: 2rem;
    --marked-width: 48rem;
}

a,
a:visited,
a:hover {
    color: var(--spot-color);
    text-decoration: none;
    word-break: break-word;
    hyphens: auto;
    cursor: pointer;
}

small {
    font-size: 83.4%;
}

main {
    display: grid;
    margin: 0 auto;
    grid-template-columns:
        minmax(var(--margin-width), 1fr) minmax(auto, var(--column-width)) minmax(var(--margin-width), 1fr);
}

main>* {
    grid-column: 2;
}


/* for increased readability */
main>p {
    line-height: calc(1ex / 0.32);
}

/* pretty pictures */
img {
    width: 100%;
}

figcaption {
    display: inline-block;
    width: calc(100% - 2ch);
    font-size: 83.3%;
    text-align: center;
    padding: 1ex 1ch;
}

/* code */
pre,
code {
    padding: 0 1em;
    font-family: monospace, monospace;
    font-size: 83.3%;
}

pre {
    color: var(--text-color);
    background-color: var(--alt-lite-color);
    overflow-x: auto;
}

/* tables */
table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    margin: 1ex auto;
    min-width: 100%;
    width: 100%;
    page-break-inside: auto;
}

@media only screen and (max-width: 640px) {
    table {
        display: block;
    }
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

th,
td {
    text-align: left;
    vertical-align: top;
    padding: 1ex 1ch;
    font-size: 83.3%
}

tr:nth-child(odd) {
    background: var(--alt-lite-color);
}

th {
    background: var(--spot-color);
    color: var(--lite-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--dark-color);
    background: var(--lite-color);
}

div>svg {
    width: 100%;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 85vh;
    margin: 0;
    overflow: hidden;
    color: var(--lite-color);
    background: linear-gradient(160deg, #0277bd 33%, #26a69a 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
}

footer {
    display: block;
    max-width: var(--column-width);
    padding: 0 var(--margin-width);
    margin: 0 auto;
}

main>img,
main>figure,
main>div {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    max-width: var(--marked-width);
}

header>picture>img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover
}

/* image gallery */
figure.gallery,
div.gallery {
    display: block;
    list-style: none;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: var(--alt-lite-color);
}

figure>figure,
div>div {
    display: inline-block;
    width: min-content;
    vertical-align: top;
    overflow: hidden;
    margin: 0;
    padding: 2ch 0 2ch 2ch;
    white-space: normal;
}

figure>figure:last-child,
div>div:last-child {
    padding-right: 2ch;
}

figure>figure>img,
div>div>img {
    height: 50vh;
    width: auto;
}

h1,
h2 {
    font-weight: 300;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header>span.title,
header>span.about {
    display: block;
    text-align: center;
}

header>span.title {
    font-size: 240%;
}

#about_marc2o>span,
#about_marc2o>span.hidden {
    display: inline-block;
    opacity: 0;
}

#about_marc2o>span.hidden {
    display: none;
}

#about_marc2o>span:not(.hidden) {
    animation:
        fade-stuff-about-marc2o-in-and-out 2.5s ease-out 2 alternate,
        shift-stuff-about-marc2o-right-to-left 5s ease-out 2;
}

@keyframes fade-stuff-about-marc2o-in-and-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shift-stuff-about-marc2o-right-to-left {
    from {
        margin-left: .5rem;
    }

    to {
        margin-left: -.5rem;
    }
}

ul.follow {
    list-style: none;
    margin: 0;
    padding: .5rem 0;
}

ul.follow li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: .2rem;
    margin: .2rem .15rem;
    border-radius: 33%;
    border: 0.01rem solid var(--alt-lite-color);
    cursor: pointer;
}


ul.follow li a {
    display: block;
}

ul.follow svg {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
}

ul.follow svg g {
    fill: var(--dark-color);
}

ul.follow svg g#Codepen path {
    stroke: var(--dark-color);
}

main p {
    font-family: "Merriweather", serif;
}

/* layout */

@media all and (min-width: 120ch) {

    body {
        display: flex;
        flex-grow: row wrap;
        justify-content: space-around;
    }

    div.topOrLeft,
    div.bottomOrRight {
        width: 50%;
        flex-grow: 1;
    }

    div.topOrLeft {
        top: 0;
        position: sticky;
        align-self: flex-start;
        width: 33%;
        height: 100vh;
    }

    div.topOrLeft>header {
        height: 100%;
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 5vh) 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - 5vh) 100%, 0% 100%);
    }

    div.bottomOrRight {
        padding-left: 1rem;
    }

    div.bottomOrRight>main {
        margin-left: 0;
        grid-template-columns:
            minmax(0, var(--margin-width)) minmax(auto, var(--column-width)) minmax(var(--margin-width), 1fr);
    }

    div.bottomOrRight>main>img,
    div.bottomOrRight>main>figure,
    div.bottomOrRight>main>div {
        justify-self: left;
    }
}