---
---

@import "{{ site.theme }}";
/*
.page-header {
  overflow: hidden;
  height: 60vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
}
*/
/* the basic stuff */
:root {
	font-size: 125%;
	--accent-color: #0288d1;
	--page-background-color: #ffffff;
	--background-color: #f5f5f5;
	--text-color: #424242;
	--lite-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #1298e1;
		--page-background-color: #202020;
		--background-color: #404040;
		--text-color: #e0e0e0;
		--lite-text-color: #202020;
	}
}

[data-theme='lite'] {
	font-size: 125%;
	--accent-color: #0288d1;
	--page-background-color: #ffffff;
	--background-color: #f5f5f5;
	--text-color: #424242;
	--lite-text-color: #ffffff;
}

[data-theme='dark'] {
	--accent-color: #1298e1;
	--page-background-color: #202020;
	--background-color: #404040;
	--text-color: #e0e0e0;
	--lite-text-color: #202020;
}

a,
a:visited,
a:hover {
    color: var(--accent-color);
    text-decoration: none;
	word-break: break-word;
	hyphens: auto;
    cursor: pointer;
}

a.button,
button,
button:hover,
button:active,
button:focus {
    display: inline-block;
    outline: none;
    border: none;
    background: var(--accent-color);
    color: #ffffff;
    line-height: 3em;
    font-size: inherit;
    font-family: "Open Sans", sans-serif;
    padding: 0 2em;
    border-radius: 2em;
    cursor: pointer;
}

small {
	font-size: 83.3%;
}

main {
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns:
		minmax(2ch, 1fr)
		minmax(auto, 54ch)
		minmax(2ch, 1fr);
	margin: auto;
}

main > * {
	grid-column: 2;
}

/* for increased readability */
main > p {
	line-height: calc(1ex / 0.32);
}

/* pretty pictures */
img {
	width: 100%;
}

figcaption {
	display: inline-block;
	width: calc(100% - 2ch);
	font-size: 83.3%;
	text-align: center;
	padding: 1ex 1ch;
}

/* code */
pre,
code {
	padding: 1ch 1em;
	font-family: monospace, monospace;
	font-size: 83.3%;
}
pre {
	color: var(--text-color);
	background-color: var(--background-color);
	overflow-x: auto;
}

/* tables */
table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	overflow-x: auto;
	margin: 1ex auto;
	min-width: 100%;
	width: 100%;
	page-break-inside: auto;
}
@media only screen and (max-width: 640px) {
	table {
		display: block;
	}
}
tr {
	page-break-inside: avoid;
	page-break-after: auto;
}
th,
td {
	text-align: left;
	vertical-align: top;
	padding: 1ex 1ch;
	font-size: 83.3%
}
tr:nth-child(odd) {
	background: var(--background-color);
}
th {
	background: var(--accent-color);
	color: var(--lite-text-color);
}

/* eye candy */
body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Merriweather', serif;
	background-color: var(--page-background-color);
	color: var(--text-color);
}

h1,
h2,
h3,
footer,
table,
.date-and-reading-time {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

figure {
	grid-column: 1 / 4;
	justify-self: center;
	width: 100%;
	max-width: 72ch;
}

p, h1, h2, h3, footer, table {
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

/* image gallery */
figure.gallery {
	display: block;
	list-style: none;
	width: 100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: var(--background-color);
}
figure > figure {
	display: inline-block;
	width: min-content;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	padding: 2ch 0 2ch 2ch;
	white-space: normal;
}
figure > figure:last-child {
	padding-right: 2ch;
}
figure > figure > img {
	height: 60vh;
	width: auto;
}

/* hero image */
header {
	position: relative;
	width: 100%;
	height: 80vh;
	margin: 0;
	overflow: hidden;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
}

header picture img {
	width: 100%;
	height: 100%;
	object-position: 50% 50%;
	object-fit: cover;
}

/* info box */
hr {
	box-sizing: content-box;
	overflow: visible;
	margin: 1em 0;
}

hr + ul {
	list-style: none;
	background: var(--background-color);
	padding: 1em;
}

hr + ul li {
	font-size: 90%;
	line-height: 150%;
	font-family: 'Open Sans', sans-serif;
}

hr + ul li:nth-child(1) {
	width: 5ch;
	height: 5ch;
	margin: 0 1ch 0 0;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ffffff;
}

/* reading progress */
.reading_progress_bar {
	height: 1px;
	background: #ffffff;
	overflow: hidden;
	transition: all .5s;
	background: var(--accent-color);
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.fixed_position {
	position: sticky;
	bottom: 0;
	height: 4px;
	margin-bottom: 0;
}

/* theme switch */
label.themeSwitch {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 10;
}

input#DarkModeSwitch {
	display: none;
}

input#DarkModeSwitch + span {
	display: inline-block;
	vertical-align: bottom;
	background-color: var(--page-background-color);
	height: 1em;
	width: 2em;
	padding: .2em;
	border-radius: 2em;
	box-shadow: 0 0 .1em var(--text-color);
	cursor: pointer;
}

input#DarkModeSwitch + span:before {
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 2em;
	background-color: var(--accent-color);
	transition: margin-left .3s;
}

input#DarkModeSwitch:checked +span:before {
	content: '';
	margin-left: 1em;
}

