---
---

@import "{{ site.theme }}";

.page-header {
  overflow: hidden;
  height: 60vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vh), 0% 100%);
}
