<!doctype html>
<html lang="{{ page.language | default: site.lang | default: " de-DE" }}">

<head>
	{% include head.html %}
	<meta name="robots" content="noindex nofollow">
	<link rel="stylesheet" type="text/css" media="screen"
		href="{{ '/assets/css/cv.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
	<main>
		<header>
			<h1><span>{{ page.title }}</span></h1>
		</header>
		<article>
			<h2>{{ site.data.cv-en.details.name }}</h2>
			<h3>{{ site.data.cv-en.details.tagline }}</h3>
			<p>{{ site.data.cv-en.details.statement }}</p>

			<h2>{{ site.data.cv-en.experience.title }}</h2>
			<ul class="position">
				{% for position in site.data.cv-en.experience.positions %}
				<li>
					{{ position.from }} – {{ position.to }}<br>
					<strong>{{ position.what }}</strong><br>
					<em>{{ position.where }}</em>
				</li>
				{% endfor %}
			</ul>

			<h2>{{ site.data.cv-en.education.title }}</h2>
			{% for position in site.data.cv-en.education.positions %}
			<p>{{ position.from }} – {{ position.to }}<br>{{ position.what }}<br>{{ position.where }}</p>
			{% endfor %}

			{{ content }}

			<footer>
				{% if page.author %}
				{% include {{ page.author }}.{{ page.language }}.about.html %}
				{% endif %}
				{% include follow.html %}
				{% include copyright.html %}
			</footer>
		</article>
	</main>
	<script>
		let vh = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
	</script>
</body>

</html>