---
layout: blog
title: Blog
---

<div class="posts">
    <ul>
        {% if paginator.total_pages > 1 %}
        <li class="pagination">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <span class="current">
                {{ page }}
            </span>
        {% elsif page == 1 %}
            <span>
                <a href="{{ 'articles/' | relative_url }}">
                    {{ page }}
                </a>
            </span>
        {% else %}
            <span>
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
                    {{ page }}
                </a>
            </span>
        {% endif %}
        {% endfor %}
        </li>
        {% endif %}
        
        {% for post in paginator.posts %}
        <li>
            <a href="{{ post.url }}">
                {% if post.image %}
                <span class="preview image"><img src="{{ post.image }}" alt=""></span>
                {% endif %}
                <h3>{{ post.title }}</h3>
            </a>
        </li>
        {% endfor %}

        {% if paginator.previous_page %}
        <li class="pagination">
            <span>
                <a href="{{ paginator.previous_page_path }}">
                    Neuere
                </a>
            </span>
        </li>
        {% endif %}
        
        {% if paginator.next_page %}
        <li class="pagination">
            <span>
                <a href="{{ paginator.next_page_path }}">
                    Ältere
                </a>
            </span>
        </li>
        {% endif %}
    </ul>
</div>